version: '2'
services:
  recsys:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: recsys
    volumes:
      - /etc/localtime:/etc/localtime
    ports:
      - "6010:8080"
    tty: true
    environment:
      - TZ=Asia/Shanghai
    depends_on:
      - serving

# tensorflow serving
  serving:
      container_name: serving
      ports:
        - '8501:8501'
      volumes:
        - /etc/localtime:/etc/localtime
        - './src/main/resources/data/modeldata/neuralcf:/models/recmodel'
      environment:
        - TZ=Asia/Shanghai
        - MODEL_NAME=recmodel
      image: 'emacski/tensorflow-serving' # for macOS M1 chip
      #image: 'tensorflow/serving' # for intel x86 chip
